<div class="landing-page">
  <h2>Welcome to the Healthcare Management System</h2>
  
  <div class="options">
    <div class="option">
      <a (click)="navigateToScheduleAppointment()">
        <h3>Schedule Meeting</h3>
        <p>Book an appointment with a doctor.</p>
      </a>
    </div>
    <div class="option">
      <a (click)="navigateToScheduleRecord()">
        <h3>Electronic Health Record</h3>
        <p>Access your health records securely.</p>
      </a>
    </div>
    <div class="option">
      <a (click)="navigateToEmergency()">
        <h3>Emergency SOS</h3>
        <p>Get immediate help in case of an emergency.</p>
      </a>
    </div>
    <div class="option">
      <a (click)="navigateToMedical()"> 
        <h3>Report</h3>
        <p>View your medical reports.</p>
      </a>
    </div>
    <div class="option">
      <a (click)="navigateToDonate()"> 
        <h3>Donor</h3>
        <p>live after</p>
      </a>
    </div>
  </div>
</div>
