<div class="admin-dashboard">
    <h2>Admin Dashboard</h2>
    <div class="dashboard-options">
      
   
      <div class="dashboard-option" (click)="navigateToRegisterPatient()">
        <h3>Register Patient</h3>
        <p>Register new patients into the system</p>
      </div>
      
      <div class="dashboard-option" (click)="navigateToRegisterDoctor()">
        <h3>Register Doctor</h3>
        <p>Register new doctors and manage their profiles</p>
      </div>
      
     
      <div class="dashboard-option" (click)="navigateToInventory()">
        <h3>Inventory</h3>
        <p>Manage medicines, equipment, and supplies</p>
      </div>
      
      
      <div class="dashboard-option" (click)="navigateToPatientRecord()">
        <h3>Patient Records</h3>
        <p>View and manage patient medical records</p>
      </div>
   
      <div class="dashboard-option" (click)="navigateToDoctorsAvailability()">
        <h3>Doctor's Availability</h3>
        <p>View and manage doctor's schedule</p>
      </div>
  
    
      <div class="dashboard-option" (click)="navigateToEmergencyalert()">
        <h3>Emergency Alerts</h3>
        <p>View and respond to patient emergency alerts</p>
      </div>
      
 
      <div class="dashboard-option" (click)="navigateToReport()">
        <h3>Reports</h3>
        <p>Generate and view reports on patient demographics, appointments, etc.</p>
      </div>

      <div class="dashboard-option" (click)="navigateToDonor()">
        <h3>Donors</h3>
        <p>Search for the Donors availability and request</p>
      </div>
      
    </div>
  </div>
  
