<!-- <div class="register-doctor">
  <h2>Register New Doctor</h2>

  <form (ngSubmit)="onSubmit()" #doctorForm="ngForm" novalidate>
    <div class="form-group">
      <label for="username">Username:</label>
      <input 
        type="text" 
        id="username" 
        [(ngModel)]="doctor.username" 
        name="username" 
        required 
        class="form-control" />
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input 
        type="password" 
        id="password" 
        [(ngModel)]="doctor.password" 
        name="password" 
        required 
        class="form-control" />
    </div>

 
    <div class="form-group">
      <label for="name">Doctor Name:</label>
      <input 
        type="text" 
        id="name" 
        [(ngModel)]="doctor.name" 
        name="name" 
        required 
        class="form-control" />
    </div>


    <div class="form-group">
      <label for="specialization">Specialization:</label>
      <input 
        type="text" 
        id="specialization" 
        [(ngModel)]="doctor.specialization" 
        name="specialization" 
        required 
        class="form-control" />
    </div>

    <div class="form-group">
      <label for="contact">Contact Information:</label>
      <input 
        type="text" 
        id="contact" 
        [(ngModel)]="doctor.contact" 
        name="contact" 
        required 
        class="form-control" />
    </div>

    <div class="form-group">
      <label for="availability">Availability: [9 AM - 4 PM]</label>
      <input 
        type="text" 
        id="availability" 
        [(ngModel)]="doctor.availability" 
        name="availability" 
        required 
        class="form-control" />
    </div>

    <div class="form-group">
      <label for="timeslots">Time Slots: [9:00 AM]</label>
      <input 
        type="text" 
        id="timeslots" 
        [(ngModel)]="doctor.timeslots" 
        name="timeslots" 
        required 
        class="form-control" />
    </div>

    <div class="form-group">
      <label for="department">Department:</label>
      <input 
        type="text" 
        id="department" 
        [(ngModel)]="doctor.department" 
        name="department" 
        required 
        class="form-control" />
    </div>

   
    <button type="submit" [disabled]="!doctorForm.form.valid" class="btn btn-primary">
      Register Doctor
    </button>
  </form>
</div> -->
